# Android Studio
*.iml
.idea/

# Gradle
.gradle/
build/
*/build/

# Local machine config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Android Studio captures
captures/

# macOS
.DS_Store

# APK / AAB
*.apk
*.aab

# Kotlin
.kotlin/

# Logs
*.log

# Signing keys
*.jks
*.keystore